/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #af4848;
  --foreground: #171717;
}

.ant-pagination-total-text {
  border-radius: 10px !important;
  background: #f3f5f9 !important;
  color: #a0aec0;
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px;
}
.ant-table-column-title {
  color: #a0aec0 !important;
}
.ant-table-cell {
  background: #fff !important;
}
.ant-table-wrapper {
  border: none !important;
  box-shadow: none !important;
}
